.doctors {
  // display: flex;
  margin-top: 90px;
  background-color: $light-color;
  padding: 40px;
  font-family: $main-font;

  &__picture {
    margin-top: 30px;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 120px;
    // height: 20px;
  }

  .pic-icon {
    width: 30%;
    &__img {
      width: 100%;
      img {
        width: 250px;
      }
    }
    &__text {
      // display: flex;
      height: 70px;
      margin-top: 20px;
      margin-left: 45px;
      h3 {
        margin-bottom: 10px;
        font-size: 28px;
        color: $dark-color;
        text-transform: capitalize;
      }
      span {
        font-size: 24px;
        color: $gray-color;
      }
      i {
        color: $dark-color;
        margin-left: 10px;
      }
    }

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }

    &__text:hover {
      background-color: $primary-color;
      transition: all 0.5s ease-in-out;
      h3,
      span,
      i {
        color: $light-color;
      }
    }
  }
}
