.section-title {
  font-family: $main-font;

  &__header {
    font-weight: 600;
    text-transform: capitalize;
    color: $dark-color;
    font-size: 35px;
    margin-bottom: 10px;
  }

  p {
    color: $gray-color;
    font-size: 26px;
  }

  &__content {
    color: $light-color;
  }
}
